*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    height: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

 